@{ 
    ViewData["Title"] = "Index";
    
}

@using System.Security.Claims

<h2>Authentication</h2>
<hr />

@if(User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOut", "Account"))
    {
        <p>@Html.ActionLink("New Post", "Create", "Post")</p>
        <p>@Html.ActionLink("All My Posts", "Index", "Post")</p>
        <input type="submit" class="btn btn-default" value="Log Out" />
    }
}
else {
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}