@{ 
    ViewData["Title"] = "Post Index";
}

@model IEnumerable<Creator.Models.Post>
@using System.Security.Claims


<h2>Here are your posts @User.Identity.Name</h2>
<hr />
@if(Model.Any())
{
    <div id="post-list">

    @foreach ( var post in Model)
    {
      
        <div class="post-tile">
            <h2>@post.Title</h2>
            <p>@post.Body</p>
            @Html.ActionLink("View comments", "ViewPost", new { postId = post.PostId })
        </div>

    }
    </div>
} 
else 
{
    <p>You haven't posted anything!</p>
}

@Html.ActionLink("Create new", "Create")