

@{
    var post = ViewBag.Post;
}
@model Creator.Models.Comment


    <h2>@post.Title</h2>
    <p>@post.Body</p>
    
@using (Html.BeginForm("AddComment", "Post"))
{
    @Html.TextBoxFor(Comment => Comment.Body)
    <input name="id" value="@post.PostId" type="hidden"/>
    <input type="submit" value="Post comment" />
}
@foreach(var comment in post.Comments)
{
    <div class="comment-tile" id="post-@(comment.CommentId)">
        <p>@comment.Body</p>
            @foreach(var reply in comment.CommentReplies)
            {
                <p>reply.Body</p>
            }
    </div>

}

